@model Ocuda.Ops.Controllers.Areas.Reporting.ViewModel.IndexViewModel

<partial name="_ReportingPartial" model="Model" />

<div class="row">
    @if (!(Model.Reports?.Count() > 0))
    {
        <div class="col-12 col-md-6 offset-md-3">
            <div class="alert alert-info">No reports are defined.</div>
        </div>
    }
    else
    {
        @foreach (var report in Model.Reports)
        {
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header h5">
                        @if (report.HasResults)
                        {
                            <a asp-action="@nameof(HomeController.Details)"
                               asp-route-reportId="@report.Id">@report.Name</a>
                        }
                        else
                        {
                            @report.Name
                        }
                    </div>
                    <div class="card-body">
                        <p class="card-text">@report.Description</p>
                    </div>
                    @if (report.Importable)
                    {
                        <div class="card-footer d-flex justify-content-end">
                            <a class="btn btn-sm btn-outline-primary"
                               data-bs-target="#reportingImportModal"
                               data-bs-toggle="modal"
                               data-report-accept="@string.Join(',', report.ImportFileTypes)"
                               data-report-period="@report.Period"
                               data-report-id="@report.Id">Import Data</a>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

<nav paginate="@Model"></nav>

@if (Model.Reports.Any(_ => _.Importable))
{
    <partial name="_ReportingImportPartial" model="Model.ImportViewModel" />

    @section Scripts {
        <script>
            const importModal = document.getElementById('reportingImportModal');
            importModal.addEventListener('show.bs.modal', event => {
                document.querySelectorAll('.period-selection').forEach(function(element) {
                    element.classList.add('d-none');
                });
                document
                    .getElementById('importReportId')
                    .value = event.relatedTarget.dataset.reportId;
                document
                    .getElementById('importReportFileTypes')
                    .setAttribute('accept', event.relatedTarget.dataset.reportAccept);
                document
                    .getElementById(`period-selection-${event.relatedTarget.dataset.reportPeriod}`)
                    .classList
                    .remove('d-none');
            });
            document.getElementById('importReportForm').addEventListener('submit', (event) => {
                event.target.querySelectorAll('.modal-close-button').forEach(function(element) {
                    element.classList.add('disabled');
                });
            });
        </script>
    }
}