@model Ocuda.Ops.Controllers.Areas.Reporting.ViewModel.IndexViewModel

@section header {
    <partial name="_ReportingPartial" model="Model" />
}

<div class="row">
    @if (!(Model.Reports?.Count() > 0) || !Model.Reports.Any(_ => _.IsViewable))
    {
        <div class="col-12 col-md-4 offset-md-4">
            <div class="alert alert-info">No reports are available.</div>
        </div>
    }
    else
    {
        @foreach (var report in Model.Reports.Where(_ => _.IsViewable))
        {
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="flex-grow-1">
                            <span class="h5">
                                @if (report.HasResults)
                                {
                                    <a asp-action="@nameof(HomeController.Details)"
                                       asp-route-reportId="@report.Id">@report.Name</a>
                                }
                                else
                                {
                                    @report.Name
                                }
                            </span>
                        </div>
                        <div>
                            <a class="btn btn-link p-0 text-primary"
                               data-bs-toggle="modal"
                               data-bs-target="#definitionModal"
                               data-report-id="@report.Id"
                               data-report-name="@report.Name">
                                <span class="fas fa-circle-info"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@report.Description</p>
                    </div>
                    @if (Model.CanAdjustPermissions || report.IsImportable)
                    {
                        <div class="card-footer d-flex justify-content-end">
                            @if (Model.CanAdjustPermissions)
                            {
                                <a class="btn btn-sm btn-outline-primary ms-2"
                                   asp-action="@nameof(HomeController.Permissions)"
                                   asp-route-reportId="@report.Id">
                                    Permissions
                                </a>
                            }
                            @if (report.IsImportable)
                            {
                                <a class="btn btn-sm btn-outline-primary ms-2"
                                   data-bs-target="#reportingImportModal"
                                   data-bs-toggle="modal"
                                   data-report-accept="@string.Join(',', report.ImportFileTypes)"
                                   data-report-period="@report.Period"
                                   data-report-id="@report.Id">Import Data</a>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

<!-- modal to show report definition -->
<div aria-hidden="true"
     aria-labelledby="definitionModalLabel"
     class="modal fade"
     id="definitionModal"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="definitionModalLabel">Report definition</h1>
                <button aria-label="Close"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        type="button"></button>
            </div>
            <div class="modal-body" id="definitionModalContent">
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary"
                        data-bs-dismiss="modal"
                        type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end modal to show report definition -->

<nav paginate="@Model"></nav>

@if (Model.Reports.Any(_ => _.IsImportable))
{
    <partial name="_ReportingImportPartial" model="Model.ImportViewModel" />

    @section Scripts {
        <script>
            // code for definition pop-up
            const definitionDetailsPath = "@Url.Action(nameof(HomeController.Definition))";
            const definitionModalContent = document.getElementById('definitionModalContent');

            document.getElementById('definitionModal').addEventListener('show.bs.modal', event => {
                document
                    .getElementById('definitionModalLabel')
                    .innerText = event.relatedTarget.dataset.reportName;
                definitionModalContent.innerHTML = ocudaOpsLoadingHtml;
                const link = new URL(`${location.origin}${definitionDetailsPath}`);
                const params = new URLSearchParams(link.search);
                params.append('reportId', event.relatedTarget.dataset.reportId);

                fetch(new URL(`${link.origin}${link.pathname}?${params}`), { method: 'GET' })
                    .then(async (response) =>  {
                        if(response.ok) {
                            definitionModalContent.innerHTML = await response.text();
                        }
                        else {
                            definitionModalContent.innerText
                                = `A server error occurred looking up that data: ${response.statusText}`;
                        }
                    })
                    .catch((error) => {
                        definitionModalContent.innerText
                            = `An error occurred looking up that data: ${error.message}`;
                    });
            });

            // import code
            const importModal = document.getElementById('reportingImportModal');
            const importStatus = document.getElementById('dateValidation');
            const resultsPath = "@Url.Action(nameof(HomeController.HasResults))";
            const submitImport = document.getElementById('submitImport');
            var checkedMonth = 0;
            var checkedYear = 0;

            importModal.addEventListener('show.bs.modal', event => {
                document.querySelectorAll('.period-selection').forEach(function(element) {
                    element.classList.add('d-none');
                });
                document
                    .getElementById('importReportId')
                    .value = event.relatedTarget.dataset.reportId;
                document
                    .getElementById('importReportFileTypes')
                    .setAttribute('accept', event.relatedTarget.dataset.reportAccept);
                document
                    .getElementById(`period-selection-${event.relatedTarget.dataset.reportPeriod}`)
                    .classList
                    .remove('d-none');
                verifyImportDate(document.getElementById('DataDate'));
            });

            function showImportStatus(type, text) {
                if(text.length = 0) {
                    importStatus.classList.add('d-none');
                }
                else {
                    importStatus.innerText = text;
                    importStatus.classList.remove('d-none');
                }
                importStatus.classList.remove('alert-warning', 'alert-danger', 'alert-info');
                importStatus.classList.add(type);
            }

            function verifyImportDate(element) {
                submitImport.classList.add('disabled');
                const link = new URL(`${location.origin}${resultsPath}`);
                const params = new URLSearchParams(link.search);
                let selectedDate = new Date(element.value);
                if(checkedYear == selectedDate.getUTCFullYear()
                    && checkedMonth == selectedDate.getUTCMonth() + 1) {
                    return;
                }
                if(isNaN(selectedDate.getUTCFullYear()) || isNaN(selectedDate.getUTCMonth())) {
                    showImportStatus('alert-warning', 'Select a valid date');
                    return;
                }
                showImportStatus('alert-info', 'Looking up date...');
                params.append('reportId', document.getElementById('importReportId').value);
                params.append('year', selectedDate.getUTCFullYear());
                params.append('month', selectedDate.getUTCMonth() + 1);
                fetch(new URL(`${link.origin}${link.pathname}?${params}`), { method: 'GET' })
                    .then((response) => response.json())
                    .then((jsonResponse) => {
                        showImportStatus(jsonResponse.success ? 'alert-danger' : 'alert-success',
                            jsonResponse.message);
                        checkedYear = selectedDate.getUTCFullYear();
                        checkedMonth = selectedDate.getUTCMonth() + 1;
                        if(!jsonResponse.success) {
                            submitImport.classList.remove('disabled');
                        }
                    })
                    .catch((error) => {
                        showImportStatus('alert-danger', error);
                    });
            }
            document.getElementById('DataDate').addEventListener('change', (event) => {
                verifyImportDate(event.target);
            });
            document.getElementById('importReportForm').addEventListener('submit', (event) => {
                event.target.querySelectorAll('.modal-close-button').forEach(function(element) {
                    element.classList.add('disabled');
                });
            });
        </script>
    }
}