@model Ocuda.Promenade.Controllers.ViewModels.DigitalLibrary.LaunchViewModel

<form action="@Model.Uri" id="launchForm" method="@Model.Method">
    @foreach (var (key, stringValues) in Model.QueryStringValues)
    {
        foreach (var value in stringValues)
        {
            <input name="@key" value="@value" type="hidden" />
        }
    }
    <div class="d-flex justify-content-center mt-3">
        <div class="card">
            <div class="card-header">
                <h1 class="display-4 px-5 pt-2">Launching @Model.Name...</h1>
            </div>
            @if (!string.IsNullOrEmpty(Model.LaunchText))
            {
                <div class="card-body px-4 py-4">
                    <p class="card-text">@Model.LaunchText</p>
                </div>
            }
            <div class="card-footer">
                <div class="d-flex justify-content-end px-2 py-1">
                    <button class="btn btn-outline-dark btn-lg"
                            id="btnsub"
                            type="submit">
                        Launch
                        <span class="fa-solid fa-spinner fa-pulse fa-fw d-none" id="btnspin"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        const form = document.getElementById("launchForm");
        const launchDelay = @(Model.LaunchDelayMs > -1 ? Model.LaunchDelayMs : 0)

        form.onsubmit = (_) => {
            document.getElementById("btnspin").classList.remove("d-none");
            document.getElementById("btnsub").setAttribute("disabled", "disabled");
        }

        window.onload = (_) => {
            window.setTimeout(() => form.submit(), launchDelay);
        };
    </script>
}